* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  background-color: #f1f1f1;
}

body {
  font-size: 1.8rem;
  font-family: "Inter", "Poppins", sans-serif;
  line-height: 1.5;
  color: #707070;
}

/*                 */
/* General styles */
/*               */

a {
  display: block;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
}

.btn {
  border: none;
  outline: none;
  background-color: #ff5959;
  padding: 1.2rem 1.6rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
}

.small-sec,
.large-sec {
  width: 60%;
  margin: 0 auto 6rem;
  padding: 1.2rem;
}

.large-sec {
  width: 80%;
}

.sec-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
  text-align: center;
  margin-bottom: 2.8rem;
}

.large-sec .sec-header {
  width: 60%;
  margin: 0 auto 2.8rem;
}

.sec-header h2 {
  font-size: 4.5rem;
  color: #121212;
  letter-spacing: -0.12rem;
  line-height: 1.1;
}

.sec-header p {
  font-family: "Poppins", sans-serif;
}

/*             */
/* Components */
/*           */

/* Header */

.main-header {
  width: 100%;
  height: 100vh;
  background: url(../assets/bg-img.jpg) no-repeat center center;
  background-size: cover;
  text-align: center;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10rem;
  position: relative;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background: radial-gradient(circle at center, rgba(0, 0, 0, 0.2) 40%, black);
  opacity: 0.9;
}

.main-header-text__box {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.2rem;
  z-index: 1;
}

.main-header-text__box h1 {
  font-size: 6.5rem;
  line-height: 1.1;
  letter-spacing: -0.1rem;
}

.main-header-text__box p {
  font-family: "Poppins", sans-serif;
}

.donate-btn {
  padding: 0;
}

.btn a {
  padding: 1.2rem 1.6rem;
}

/*                 */
/* Donate section */
/*               */

.donation-amount-container {
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 2.8rem;
}

.donation-amount-container span {
  background-color: #fafafa;
  padding: 1.8rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.donation-amount-container .heighlight {
  border: 0.1rem solid #ff5959;
  background-color: rgba(255, 89, 89, 0.1);
  color: #ff5959;
}

.donation-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.8rem;
}

.donation-form input {
  border: none;
  outline: none;
  border-bottom: 1px solid black;
  width: 100%;
  height: 4rem;
  padding: 0.6rem;
}

.donation-form input:focus {
  border: none;
  outline: none;
  border-bottom: 2px solid black;
}

.donation-form input[placeholder] {
  text-align: center;
  font-family: "Poppins", sans-serif;
}

/*                 */
/* Donation Plan  */
/*               */

.donate-plan-card-container {
  display: flex;
  justify-content: center;
  gap: 1.6rem;
}

.donate-plan-card {
  flex-basis: 33.33%;
  font-family: "Poppins", sans-serif;
  background-color: rgba(79, 157, 166, 0.1);
  border-radius: 0.5rem;
  padding: 3.2rem 1.8rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  box-shadow: 2px 0 8px rgba(209, 209, 209, 0.1);
}

.donate-plan-card h4 {
  font-size: 2.4rem;
  color: #121212;
  font-weight: 600;
}

.icon {
  width: 6rem;
  height: 6rem;
}

.azure {
  background-color: rgba(79, 157, 166, 0.1);
}

.white-smoke {
  background-color: #ffeeee;
}

.half-dutch-white {
  background-color: #fff4d6;
}

/*                                      */
/* Our activities  and Afffected people*/
/*                                    */

.img-gallery-container {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.img-gallery {
  display: flex;
  justify-content: center;
  gap: 1.2rem;
}

.img-gallery img {
  width: 100%;
}
/*             */
/* Get update */
/*           */

.get-update-form-card {
  display: flex;
  justify-content: center;
  padding: 2.8rem 0;
  border-radius: 0.6rem;
  box-shadow: 2px 0 8px rgba(209, 209, 209, 0.1);
}

.get-update-form-card input {
  padding: 0.6rem;
  width: 40%;
  background-color: #d9d9d9;
  border: 1px solid black;
  outline: none;
}

.email-submit-btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/*         */
/* Footer */
/*       */

.footer {
  width: 100%;
  background-color: #0b0d17;
  text-align: center;
  color: #d9dbe1;
  font-size: 1.4rem;
  font-family: "Manrope", sans-serif;
  padding: 3.6rem 0;
}

.footer h4 {
  color: #ff5959;
  font-size: 3.6rem;
  font-family: "Lobster", cursive;
  margin-bottom: 1.4rem;
}
